@using FashionModeling.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}
<div class="wrapper">
    <div class="page-header" style="background-image: url('../Images/login-image.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 offset-lg-4 col-sm-6 offset-sm-3">
                    <div class="card card-register">
                        <h3 class="title">Welcome</h3>
                        <div class="social-line text-center">
                            <a href="#pablo" class="btn btn-neutral btn-facebook btn-just-icon">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                        @*<form class="">
                        <label>Email</label>
                        <input type="text" class="form-control" placeholder="Email">

                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Password">
                        <button class="btn btn-danger btn-block btn-round">Register</button>
                    </form>*@
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "register-form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div>
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })

                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                    </div>
                    <div>
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                    </div>
                    <div>
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>

                    <div>
                        <input type="submit" value="Log in" class="btn btn-danger btn-block btn-round" />
                    </div>
                    <div class="forgot">
                        @Html.ActionLink("Sign Up", "Createprofile", "Account", new { }, new { @class = "btn btn-link btn-danger",attr =""})
                        @Html.ActionLink("Forgot password?", "ForgotPassword", "Account",new { }, new { @class = "btn btn-link btn-danger" })
                    </div>
        }

                    </div>
                </div>
            </div>
            <div class="footer register-footer text-center">
                <h6>
                    &copy;
                    <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by Square Infomatics
                </h6>
            </div>

        </div>
    </div>
</div>
@*<div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>*@


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
